@import "bourbon";
@import "neat";
@import "font-awesome";

div {
  float: left;
}

.app {
  background-color: black;
  color: white;
  font-family: Kabel, sans-serif;

  .nav {
    @include outer-container;
    float: none;
    text-align: left;
    font-size: 48px;
    height: 180px;
    padding: 10px;
    border: 1px solid white;
    margin-bottom: 15px;
  }

    button {
      padding: 15px;
      font-size: 24px;
      background: none;
      margin-top: 50px;
      margin-right: 25px;
      border: 1px solid white;;
    }

    .discography {
      display: inline-block;
      // margin-top: 20px;
      margin-left: 125px;
      margin-right: 100px;
    }

    #recordView {
      margin-left: 125px;
      margin-right: 100px;
    }

    #singleView {
      list-style-type: none;
      margin-bottom: 10px;
    }

    #singleView li {
      margin-bottom: 10px;
    }

    #addDiv {
      margin-top: 15px;
      margin-left: 150px;
      padding: 20px;
      border: 1px solid white;
    }

    #addForm {
      list-style: none
    }

    #addForm li {
      margin-left: -40px;
      margin-bottom: 25px;
    }

    #editDiv {
      margin-top: 15px;
      margin-left: 150px;
      padding: 20px;
      border: 1px solid white;
    }

    #editForm {
      list-style: none
    }

    #editForm li {
      margin-left: -40px;
      margin-bottom: 25px;
    }

    img {
      border: 1px solid white;
      margin-right: 15px;
      margin-bottom: 15px;
      max-width: 172px;
      max-height: 172px;
    }

    #mtvLogo {
      float: left;
      max-width: 190px;
      max-height: 160px;
      border: none;
    }

    #logoTag {
      width: 700px;
    }

    #navBtns {
      float: right;
    }

    #recordSleeves {
      margin-top: 30px;
    }
  
    #footer {
      text-align: center;
      border: 1px solid white;
      width: 100%;
      margin-top: 30px;
    }

    input {
      color: black;
    }

    textarea {
      color: black;
    }

}
